{% extends 'base.html' %} {% load static %} {% block body %}

<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Compliance</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Compliance</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs Section -->

  <section id="" class="about">
    <div class="container" data-aos="fade-up">
   
      <div class="row pt-4 ">
        <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Compliance</h3>
          <hr />
          <p class="fst-italic">
            We want our nurses and healthcare professionals to start working as
            quickly as possible. This is why we strongly urge competent
            candidates to prepare the necessary requirements for our recruitment
            team to process immediately.
          </p>
          <h5>Here are the requirements of Prime Care Professionals:</h5>
          <hr />
          <b>For Nurses:</b>
          <hr />
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Updated CV or a completed application form.
              <a href="">Register here</a>
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              One (1) valid ID (preferably passport/driving license)
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Two (2) completed character Reference Form.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Two (2) proofs of address from the past three (3) months for
              completion of a Disclosure and Barring Service (DBS) – formerly
              known as Criminal Records Bureau (CRB). If you have a new DBS
              (less than 3 months) then no need to apply for one. We offer free
              DBS/CRB checks. Please give us a call for more details.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Proof of eligibility to work in the United Kingdom (if required).
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Proof of immunization to Measles, Rubella, Varicella,
              Tuberculosis, Hepatitis B.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              For those who will undertake exposure prone assignments, proof of
              immunization to Hepatitis B surface antigen, Hepatitis C
              antibodies and Human Immunodeficiency Virus (HIV).
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Training documents – We can arrange trainings for those who have
              incomplete documents.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              <b>
                We Offer Free Online Courses And Training For Our Applicants.
              </b>
                  <li>
                    <i class="bi bi-dash"></i>
                    Basic Life Support
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Confidentiality
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Fire Safety
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Health and Safety
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Infection Control
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Manual Handling
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    SOVA and SOCA
                  </li>                  
            </li>
            <li>
           
              *Please see additional trainings required for specific specialities (contact us for further info).
            </li>
          </ul>
          <hr>
          <b>For Health Care Assistants:</b> <hr>
          <p>The following are the requirements needed before you start your shift with us:</p>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Updated CV or a completed application form.
              <a href="">Register here</a>
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Two (2) completed character Reference Form.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              DBS/CRB (Disclosure and Barring Service) – We offer free DBS/CRB checks to our applicants. Please give us a call for more details.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Trainings Certificates - We can arrange trainings for those who have incomplete documents. We offer further developments and online trainings to all our applicants.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              <b>
                We Offer Free Online Courses And Training For Our Applicants.
              </b>
                  <li>
                    <i class="bi bi-dash"></i>
                    Basic Life Support
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Confidentiality
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Fire Safety
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Health and Safety
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Infection Control
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    Manual Handling
                  </li>
                  <li>
                    <i class="bi bi-dash"></i>
                    SOVA and SOCA
                  </li>                  
            </li>
            <li>
           
              *Please see additional trainings required for specific specialities (contact us for further info).
            </li>
          </ul>

          
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
