{% extends 'base.html' %} {% load static %} {% block body %}

<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Recruitment</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Recruitment</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs Section -->

  <section id="" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="{% static '/img/aboutoo.jpg'%}" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Recruitment</h3>
          <hr />
          <p class="fst-italic">
            Care Hub Uk is an experienced Recruitment Consultants work closely
            with each candidate, with a personal, ethical and diligent approach.
            We work hard to understand your career aspirations and requirements
            and only progress applications that are deemed suitable.
          </p>
          <h5><u>Individual Recruitment :</u></h5>
          <b>Healthcare Assistants:</b>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Excellent communication skills, both written and verbal.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Must be able to work on own initiative and as part of a team.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Must have the ability to complete detailed reports and
              documentation.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Capable of dealing with emergency situations in a calm manner.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Care experience is desirable, although training will be given to
              the right people.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              A passion for care and making a difference to others.
            </li>
          </ul>

          <b>RGNs/RMNs:</b>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Excellent communication skills, both written and verbal.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Must be able to work on own initiative and as part of a team.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Must have the ability to complete detailed reports and
              documentation.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Capable of dealing with emergency situations in a calm manner.
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Must have current NMC PIN
            </li>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Must have previous experience
            </li>
          </ul>

          <b>DBS:</b>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              All staff require a valid DBS (expense to be met by applicant,
              refundable after shifts have been completed)
            </li>
          </ul>

          <b>Rates Of Pay:</b>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              Care Offers the most competitive rates in the industry, full
              details to be discussed during interview.
            </li>
          </ul>

          <b>Self-Employed :</b>
          <ul>
            <li>
              <i class="bi bi-arrow-right-circle"></i>
              No problem - you are welcome to join our team and work with us.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
